<!-- device registration page -->
<div id="data-form" class="row-1">
  <div class="fields">
    <form>
      <div class="form-group">
        <input type="text" class="text-center" placeholder="WiFi name" ng-model="ssid.text">
      </div>
      <div class="form-group">
        <input type="text" class="text-center" placeholder="WiFi password" ng-model="password.text">
      </div>
      <div class="form-group">
        <input type="text" class="text-center" placeholder="Device ID" ng-model="deviceID.text">
      </div>
      <button id= "button3" type="submit" class="btn" ng-click="registerDevice()">Register device</button>
    </form>
  </div>
</div>
